@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border-default;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-bg-page text-text-primary font-sans antialiased;
  }
  
  html {
    @apply bg-bg-page;
  }
}

@layer utilities {
  .text-label {
    @apply text-xs font-medium uppercase tracking-wider;
  }
  
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
